@using SimpleHoneypot.HtmlHelpers
@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Message</h2>
<p>
    To learn more about ASP.NET MVC visit <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.
</p>
<h2>Get informed</h2>
<p>
    @Html.Partial("_EmailForm")
</p>
<h2>AjaxForm</h2>
<p>
    <form action="@Url.Action("AjaxPost")" method="POST" id="ajaxForm">
        <input type="text" value="" placeholder="enter your message..."/>
        <br />
        <br />
        @Html.HoneypotInput()
        <input type="submit" value="Send message"/>
    </form>
</p>
